<html>
    <head>
        <title>vue.js - cmtprg_02 7</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <div id="app">
            <div class="container">
                <div class="jumbotron text-center col-8" style="margin: 0 auto 20px auto">
                    <p class="lead" style="font-weight:bold">vue.js front-end restful webservice</p>
                    <p>kaspar dohrin - 0882916</p>
                </div>

                <!-- form to create new contact -->
                <contact-create inline-template>
                    <div id="contact-create" class="col-8" style="margin:0 auto 20px auto">
                        <div class="card" style="padding: 5px">
                            <div class="form-group" style="margin: 0">
                                <input v-model="name" placeholder="name" type="text" class="form-control" style="margin-bottom:5px; background-color: rgb(250, 250, 250)">
                                <input v-model="email" placeholder="email" type="text" class="form-control" style="margin-bottom:5px; background-color: rgb(250, 250, 250)">
                                <input v-model="phone" placeholder="phone" type="text" class="form-control" style="margin-bottom:5px; background-color: rgb(250, 250, 250)">
                                <button v-on:click='submit' class="btn btn-success" style="width:25%; float:right">submit</button>
                                <span style="float: left; margin: 5px 0 0 3px"><b>{{error}}</b></span>
                                <span style="float: left; margin: 12px 0 0 5px"><b>{{success}}</b></span>
                          </div>
                        </div>
                    </div>
                </contact-create>


                <!-- view per contact -->
                <div v-if="contacts">
                    <div id="contact-view" v-for="contact in contacts" class="col-8" style="margin: 0 auto 2px auto">
                        <contact-view inline-template v-bind:contact-id='contact._id' v-bind:contact-name='contact.name' v-bind:contact-email='contact.email' v-bind:contact-phone='contact.phone'>
                            <ul v-if='!deleted' class="list-group">
                                <li class="list-group-item success" style="margin-bottom: 1px; background-color: #e9ecef"><b>contact id: </b>{{contactId}}<button v-on:click='expand' class="btn btn-success" style="padding: 0 10px 3px 10px; float: right">{{text}}</button></li>
                                <span v-if='expanded'>
                                    <input v-model="contactName" v-bind:value="contactName" class="form-control" type="text" style="background-color: rgb(250, 250, 250)">
                                    <input v-model="contactEmail" v-bind:value="contactEmail" class="form-control" type="text" style="margin-top: 1px; background-color: rgb(250, 250, 250)">
                                    <input v-model="contactPhone" v-bind:value="contactPhone" class="form-control" type="text" style="margin: 1px 0 1px 0; background-color: rgb(250, 250, 250)">
                                    <li class="list-group-item" style="padding: 5px">
                                        <button v-on:click='deleteContact' class="btn btn-danger" style="width:25%">delete</button>
                                        <button v-on:click='editContact' class="btn btn-warning" style=" width:25%; float: right">edit</button>
                                    </li>
                                </span>
                            </ul>
                        </contact-view>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.5.3/vue-router.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.js"></script>
        <script src="app.js"></script>
    </body>
</html>